# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3

# Virtual environment
venv/
.venv/
env/

# Secrets
.env
.env.local

# IDE/Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db